.header {
    background: #E0EAE5;
    padding-top: 28px;

}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
    font-size: 1.6rem;
    line-height: 1.75;
    color: #032E32;

    &__list {
        display: flex;
        gap: 42px;

    }

    &__list li:first-child .nav__link {
        text-shadow: 1px 0 0 currentColor;
    }

    &__list:hover li:first-child .nav__link {
        text-shadow: none;
    }

    &__list li:first-child .nav__link:hover {
        text-shadow: 1px 0 0 currentColor;
    }

    &__link:hover {
        text-shadow: 1px 0 0 currentColor;
    }

}

.action {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 600;

    &__sign-up {
        color: #FFFFFF;
        border-radius: 6px;
        border: 1px solid #032E32;
        background: #032E32;
        padding: 17px 22px;
    }

}

.marquee {
    width: 116.5%;
    left: -10%;
    overflow: hidden;
    position: relative;
    background: #FFCD00;
    margin: 25px 0;

    &__container {
        display: flex;
        gap: 50px;
        animation: scroll-right 30s linear infinite;
        white-space: nowrap;
        padding: 10px 0;
    }

    &__des {
        display: inline-block;
        font-size: 18px;
        color: #333;
    }
}


@keyframes scroll-right {
    from {
        transform: translateX(-100%);
        /* Bắt đầu từ bên trái ngoài container */
    }

    to {
        transform: translateX(100%);
        /* Kết thúc bên phải ngoài container */
    }
}

.hero {
    color: #032E32;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 200px;
    padding-top: 75px;


    &__title {
        font-size: 7rem;
        font-weight: 800;
        line-height: 1.143;
    }

    &__des {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.67;
        padding-top: 30px;
    }

    &__search {
        font-size: 1.8rem;
        display: flex;
        align-items: center;
        padding-top: 36px;
    }

    &__search-bar {
        display: flex;
        align-items: center;
        border-radius: 8px;
        color: #69797A;
        width: 361px;
        background: #FFFFFF;
        padding-left: 10px;
        height: var(--btn-height);

    }

    &__search-bar-icon {
        width: 18px;
        height: 18px;
    }

    &__search-find {
        padding: 10px;

    }

    &__course {
        display: flex;
        align-items: center;
        justify-content: center;
    }
   
    &__course-wrap {
        padding: 39px 24px;
        background: #fff;
        display: inline-block;
        border-radius: 12px;
        z-index: 1;
        position: relative;

    }

    &__course-border {
        position: absolute;
    }

    &__course-next {
        position: absolute;
        border: 1px solid #032E32;
        border-radius: 50%;
        padding: 12px;
        background-color: #032E32;
        bottom: 98px;
        left: 50%;
        cursor: pointer;

    }

    &__course-name {
        color: #69797A;
        font-size: 1.4rem;
        line-height: 1.7;
        font-weight: 400;
        margin-top: 6px;
    }

    &__course-thumb {
        display: flex;
        margin: 10px 0;
    }

    &__course-price {
        margin-left: auto;
    }
}

// .about__btn,
.hero__search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #032E32;
    margin-left: auto;
    width: 191px;
    height: var(--btn-height);
    background: #B5ED3D;
    border-radius: 8px;
    padding-left: 10px;
    cursor: pointer;
}

.benefit {
    position: relative;
    width: 120%;
    height: 214px;
    left: -10%;
    background: #032E32;
    color: #ffff;
    margin-top: 150px;

    &__content {
        padding-top: 20px;
        height: 214px;
        width: 1340px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__sub-title {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.67;
    }

    &__title {
        font-size: 2.8rem;
        font-weight: 700;
        line-height: 1.36;
        width: 437px;
        margin-top: 15px;
    }

    &__img {
        margin-top: -40px;
        display: block;
    }

    &__img-container {
        transform: translateY(-50px);
        position: relative;
        z-index: 2;
        border-radius: 5px;
        background: #FF5F1A;
        margin: 0 35px;
    }

    &__right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    &__column-icon {
        margin-bottom: 10px;
    }
}