<div class="footer-container">
    <div class="footer-column">
        <h3>Courses</h3>
        <ul>
            <li><a href="#">Classroom Courses</a></li>
            <li><a href="#">Virtual Classroom Courses</a></li>
            <li><a href="#">E-Learning Courses</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h3>Circuit</h3>
        <ul>
            <li><a href="#">About us</a></li>
            <li><a href="#">Why Circuit</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Promotions</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Podcasts</a></li>
            <li><a href="#">Forum</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h3>Help</h3>
        <ul>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Our Venues</a></li>
            <li><a href="#">My account</a></li>
        </ul>
    </div>
    <div class="footer-column">
        <h3>Newsletter</h3>
        <div class="newsletter">
            <input type="email" placeholder="email address">
            <button>Subscribe</button>
        </div>
        <div class="contact-info">
            <p>Email us</p>
            <p><strong>email@gmail.com</strong></p>
            <p>Call us</p>
            <p><strong>000 1234 5678</strong></p>
        </div>
       
    </div>
</div>

<div class="footer-bottom">
    <img src="../assets/icons/logo.svg" alt="">
    <div class="payment-icons">
        <img src="../assets/icons/paypal.svg" alt="">
        <img src="../assets/icons/visa.svg" alt="">
        <img src="../assets/icons/mastercard.svg" alt="">
    </div>
    <p>Copyright © 2022 UIHUT. All rights reserved.</p>
</div>