<div class="container">
    <div class="top-bar">
        <a class="logo">
            <img src="./assets/icons/logo.svg" alt="Logo" class="logo">
            <h1 class="logo__title">circuit</h1>

        </a>

        <nav class="nav">
            <ul class="nav__list">
                <li class="">
                    <a href="#!" class="nav__link"><strong>Home</strong></a>
                </li>
                <li>
                    <a href="#!" class="nav__link">About us</a>
                </li>
                <li>
                    <a href="#!" class="nav__link">Resources</a>
                </li>
                <li>
                    <a href="#!" class="nav__link">Contact</a>
                </li>

            </ul>
        </nav>
        <div class="action">
            <a href="./login.html" class="action__log-in">Log In</a>
            <a href="./signup.html" class="action__sign-up"><strong>Sign Up
                </strong></a>
        </div>
    </div>
    <div class="marquee">
        <div class="marquee__container">
            <span class="marquee__des">Get Discount Of 10% On All our Video Courses For a Limited Time</span>
            <span class="marquee__des">Get Discount Of 10% On All our Video Courses For a Limited Time</span>
            <span class="marquee__des">Get Discount Of 10% On All our Video Courses For a Limited Time</span>
            <span class="marquee__des">Get Discount Of 10% On All our Video Courses For a Limited Time</span>
        </div>
    </div>
    <div class="hero">
        <div class="hero__left">
            <h1 class="hero__title">
                Learn at the comfort of your own home
            </h1>
            <span class="hero__des">
                Circuit is a Global training provider based across the UK that <br>specialises in accredited and bespoke
                training courses.
            </span>
            <div class="hero__search">
                <div class="hero__search-bar">
                    <img src="./assets/icons/search-icon.svg" alt="" class="hero__search-bar-icon">
                    <span class="hero__search-find">Find a course</span>
                </div>
                <div class="hero__search-btn">Discover Now</div>
            </div>
        </div>
        <div class="hero__course">
            <img src="./assets/icons/oval.svg" alt="" class="hero__course-border">
            <div class="hero__course-wrap">
                <img src="./assets/img/hero.png" alt="" class="hero__course-img">
                <img src="./assets/icons/next.svg" alt="" class="hero__course-next">
                <div class="hero__course-name">Web Design</div>
                <div class="hero__course-thumb">
                    <div class="hero__course-decs">Basic Web Design 2022</div>
                    <div class="hero__course-price">$149</div>
                </div>
                <div class="hero__course-rate">
                    <span>4.5 <img src="./assets/icons/star.svg" alt="" class="hero__course-rate-star"> (5325) </span>
                </div>
            </div>
        </div>
    </div>
    <div class="benefit">
        <div class="benefit__content">
            <div class="benefit__left">
                <div class="benefit__sub-title">Benefits</div>
                <div class="benefit__title">Simple and effective accredited Tech training courses</div>
            </div>
            <div class="benefit__img-container"><img src="./assets/img/student.png" alt="" class="benefit__img">
            </div>
            <div class="benefit__right">
                <div class="benefit__column">
                    <div>
                        <img src="./assets/icons/short.svg" alt="" class="benefit__column-icon">
                    </div>
                    <span class="benefit__column-content">Short & Accredited Courses</span>

                </div>
                <div class="benefit__column">
                    <div> <img src="./assets/icons/class.svg" alt="" class="benefit__column-icon"></div>
                    <span class="benefit__column-content">Student Friendly Classroom</span>
                </div>
            </div>
        </div>
    </div>

</div>